<app-header></app-header>

<div class="container-fluid">
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let tab of TABS">
        <button class="nav-link" ngClass="{{tab.value === currentTab ? 'active' : ''}}" (click)="handleTab(tab.value)"
          *ngIf="tab.show">{{tab.label}}</button>
      </li>
    </ul>

    <div class="tab-content my-3">
      <app-http-zones [httpZonesData]="httpZonesData" [locationZonesData]="locationZonesData" [limitReqsData]="limitReqsData" *ngIf="currentTab === 'http-zones'"></app-http-zones>
      <app-http-upstreams [httpUpstreamsData]="httpUpstreamsData" *ngIf="currentTab === 'http-upstreams'"></app-http-upstreams>
      <app-tcp-udp-zones [tcp_udpZonesData]="tcp_udpZonesData" [limitConnsData]="limitConnsData" *ngIf="currentTab === 'tcp-udp-zones'"></app-tcp-udp-zones>
      <app-caches *ngIf="currentTab === 'caches'" [cacheData]="cacheData"></app-caches>
      <app-shared-zones [sharedZonesData]="sharedZonesData" *ngIf="currentTab === 'shared-zones'"></app-shared-zones>
      <app-cluster [instanceStatus]="instanceStatus" [clusterZones]="clusterZones" *ngIf="currentTab === 'cluster'"></app-cluster>
      <app-resolvers [resolversData]="resolversData" *ngIf="currentTab === 'resolvers'"></app-resolvers>
    </div>
  </div>
</div>