<div class="d-flex flex-column gap-4">
  <div class="resolvers card">
    <h4 class="card-header">Location Zones</h4>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered text-center">
          <thead class="table-secondary">
            <tr>
              <th scope="col" rowspan="2">Zone</th>
              <th scope="col" colspan="3">Requests</th>
              <th scope="col" colspan="8">Responses</th>
            </tr>
            <tr>
              <th scope="col" class="fw-normal">Name</th>
              <th scope="col" class="fw-normal">SRV</th>
              <th scope="col" class="fw-normal">Address</th>
              <th scope="col" class="fw-normal">Success</th>
              <th scope="col" class="fw-normal">Format Error</th>
              <th scope="col" class="fw-normal">Server failure</th>
              <th scope="col" class="fw-normal">Host Not Found</th>
              <th scope="col" class="fw-normal">Unimplemented</th>
              <th scope="col" class="fw-normal">Operation refused</th>
              <th scope="col" class="fw-normal">Unknown</th>
              <th scope="col" class="fw-normal">Timed out</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of resolversData">
              <th scope="row">{{data.zone}}</th>

              <td>{{data?.requests?.name || 0}}</td>
              <td>{{data?.requests?.srv || 0}}</td>
              <td>{{data?.requests?.addr || 0}}</td>

              <td>{{data?.responses?.noerror || 0}}</td>
              <td>{{data?.responses?.formerr || 0}}</td>
              <td>{{data?.responses?.servfail || 0}}</td>
              <td>{{data?.responses?.nxdomain || 0}}</td>
              <td>{{data?.responses?.notimp || 0}}</td>
              <td>{{data?.responses?.refused || 0}}</td>
              <td>{{data?.responses?.unknown || 0}}</td>
              <td>{{data?.responses?.timedout || 0}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>