<header class="sticky-top">
  <nav class="navbar justify-content-between navbar-expand-sm navbar-light bg-primary text-white fs-5 px-3 mb-3">
    <div>
      NGING Plus Dashboard
    </div>
    <div>
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle text-white fs-5 p-1" data-bs-toggle="dropdown">tdeyashi : Admin<i class="ms-1 fa fa-user-circle" aria-hidden="true"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="#" class="dropdown-item">Settings</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>